<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%="Welcome to eJournal" %>
<br />
 <%= " ADD DIFFERENT PERMISSIONS FOR EACH USER. " %>
 <br />
<%# use render this is acopy paste%>
<%= "The current date and time is:  #{@time}" %>
<br/>
<%= "The User is:  #{@user}" %>
<br/>
   <%= render 'layouts/header' %> 
 <br />

<br />
<%= link_to teacher_path %>
<br />
<%= link_to("I am a teacher", teacher_path )%>
<br />

<%= link_to("I am a parent", {:controller => 'users', :action => 'parent'}) %>

<br />
<%= link_to("I am a principal/administrator", {:controller => 'users', :action => 'principal'}) %>

<br />
<%= link_to("I am a teacher", {:controller => 'users', :action => 'teacher'}) %>

<br />
<%= link_to("I am a student", {:controller => 'users', :action => 'student'}) %>

<br />
 <%= link_to("SEE Your Student DELETE ON COMPLITION", {:controller => 'students', :action => 'index'}) %>


<%= yield %>

</body>
</html>
