<p id="notice"><%= notice %></p>

<h1>Listing Students</h1>
<% def index
  @students = Students.all
end %>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Table Style</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>

<body>
<div class="table-title">
<h3>Students Table</h3>
</div>
<table class="table-fill">
 
<thead>
<tr>
<th class="text-left">Name</th>
<th class="text-left">Date of Birth</th>
<th class="text-left">School</th>
<th class="text-left">Edit/Destroy/Add</th>
</tr>
</thead>
<tbody class="table-hover">
    <% @students.each do |student| %>
<tr>
<td class="text-left"><%= link_to "#{student.name} ", student %><%= student.surname  %></td>
<td class="text-left"><%= "#{student.Day_of_Birth} /" %>  
            <%= "#{student.Month_of_Birth} /"%>
            <%= student.Year_of_Birthd %></td>
<td class="text-left"> <%= student.schools_name %></td>

<td class="text-left"> <% if user_signed_in? %>
              <%= link_to 'Edit', edit_student_path(student) %>
              <%= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' } %>
              <%= link_to 'New Student', new_student_path %>
               <%else%>
            <%end%> </td>
            

</tr>
<tr>

</tr>
</tbody>
 <% end %>
</table>
  

  </body>






