<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @student.surname %>
</p>

<p>
  <strong>Day of birth:</strong>
  <%= @student.Day_of_Birth %>
</p>

<p>
  <strong>Month of birth:</strong>
  <%= @student.Month_of_Birth %>
</p>

<p>
  <strong>Year of birthd:</strong>
  <%= @student.Year_of_Birthd %>
</p>

<p>
  <strong>Schools name:</strong>
  <%= @student.schools_name %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
