<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" media="screen" href="https://www.w3schools.com/w3css/4/w3.css"/>

<%= stylesheet_link_tag 'application', 'https://www.w3schools.com/w3css/4/w3.css'%>
<link href="https://www.w3schools.com/w3css/4/w3.css" media="all" rel="stylesheet" type="text/css" />
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
   <div id='container'>
      <%= render 'layouts/header'%>
         </div>
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>SportPro</b></a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
     
      <a href="#projects" class="w3-bar-item w3-button">Showcase</a>
      <a href="#about" class="w3-bar-item w3-button">Info</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
   
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="/assets/shop_banner.jpg" alt="Sport" width="1500" height="800" >
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>SP</b></span> <span class="w3-hide-small w3-text-light-grey">Experts</span></h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Showcase</h3>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Training Systems X1</div>
            <%= link_to image_tag("Equipment/sport_equipment21.jpg", class:"image_equipment",id:"image_equipment21"),items_path %>

      </div>
      
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">HWBR XZPRO</div>
               <%= link_to image_tag("Equipment/sport_equipment5.jpg" , class:"image_equipment",id:"image_equipment5"),items_path %>

      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Smith Mchine LW</div>
       <%= link_to image_tag("Equipment/sport_equipment18.jpg", class:"image_equipment",id:"image_equipment18"),items_path %>

      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">OXPO 350</div>
    <%= link_to image_tag("Equipment/sport_equipment19.jpg", class:"image_equipment",id:"image_equipment19"),items_path %>

      </div>
    </div>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Training Systems X1</div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">HWBR XZPRO</div>
        <img src="/w3images/house5.jpg" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Smith Mchine LW</div>
        <img src="/w3images/house4.jpg" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">OXPO 350</div>
        <img src="/w3images/house3.jpg" alt="House" style="width:99%">
      </div>
    </div>
  </div>

  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Info</h3>
   <div class="myHome">
  <% provide(:title, "Home") %>
    <h1>Home</h1>
      <p>
        <h2>
          Welcome to the Home of expert sports equipment. 
          <br>
          <p>
          We are the only online store
          that supplies just the equipment that was chosen by experts to be the best current
          equipment on the market.
          </p>
          
          <a href="https://rails-tutorials-vadimmalakhovski.c9users.io/">SportPro</a>
          We are here to choose the best for you so you don't have to...

         </h2>
          <br> <br>
       <h1>Our Gyms</h1>
       
        </div>
  </div>

  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <%= link_to image_tag("Equipment/sport_equipment10.jpg", class:"image_equipment2",id:"image_equipment10") %>

      <h3>Dublin XPRO</h3>
      <p class="w3-opacity">Dublin City Gym</p>
      <p>This is one of our biggest gyms in Ireland.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
<%= link_to image_tag("Equipment/sport_equipment11.jpg", class:"image_equipment2",id:"image_equipment11") %>
      <h3>Galway XPRO</h3>
      <p class="w3-opacity">Galway City Gym</p>
      <p>This gym has more than 50 sport clubs.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
   <%= link_to image_tag("Equipment/sport_equipment12.jpg", class:"image_equipment2",id:"image_equipment12") %>

      <h3>Cork XPRO</h3>
      <p class="w3-opacity">Cork City Gym</p>
      <p>This gyms has pro Bodybuilders staff.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
           <%= link_to image_tag("Equipment/sport_equipment10.jpg", class:"image_equipment2",id:"image_equipment10") %>

      <h3>Athlone</h3>
      <p class="w3-opacity">Athlone Town Gym</p>
      <p>Has 3 memebers. Great for meditation.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
  </div>
    <%= render 'layouts/categories' %> 
  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
    <p>Lets get in touch and make a deal.</p>
    <form action="/action_page.php" target="_blank">
      <input class="w3-input" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section" type="text" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>

  </div>

 
<!-- End page content -->
</div>

<!-- Google Map -->
<div id="googleMap" class="w3-grayscale" style="width:100%;height:450px;"></div>






</body>
</html>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="https://ide.c9.io/vadimmalakhovski/rails-tutorials" title="SportPro.com" target="_blank" class="w3-hover-text-green">SporPro.com</a></p>
</footer>