<p id="notice"><%= notice %></p>
<h1>Listing Results for Parents</h1>
<%#@URI%>
<table>
  <thead>
    <tr>
      <th>Date time</th>
      <th>Class</th>
      <th>Teacher</th>
      <th>Grade</th>
      <th>Email</th>
      <th>Comment</th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.date_time.strftime("%d/%m/%Y at %H:%M") %></td>
        <td><%= result.classes %></td>
        <td><%= result.teacher %></td>
        <td><%= result.grade %></td>
        <td><%= result.email %>
        </td>
        <td><%= result.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

