
<h1>Products Catalog</h1>
<br>
<table class="catalog">


<table class="catalog">
  <!-- 3 in a row-->
     <% if @items.length % 3 ==0 %>
  <% @items.each_slice(3) do |item1, item2, item3| %>
      <tr>
        <td>
          <div class="image">
            <%= link_to (image_tag item1.image_url, :style => "height:100px"), item1 %>
          </div>
          <div class="title">
            <%= link_to item1.title, item1 %>
          </div>
          <div class="description">
            <%= item1.description %>
          </div>  
          <div class="price">
             <%= number_to_currency(item1.price, :unit => "€") %>
          </div>
          <div class="links">
             <a href="/cart/<%= item1.id %>">Add to Cart</a>
            
            <% if user_signed_in? %>
              <%= link_to 'Edit', edit_item_path(item1) %>
              <%= link_to 'Destroy', item1, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%else%>
            
             
            <%end%>  
        </div>
        </td>
        <!--Table 2-->
        
                <td>
          <div class="image">
            <%= link_to (image_tag item2.image_url, :style => "height:100px"), item2 %>
          </div>
          <div class="title">
            <%= link_to item2.title, item2 %>
          </div>
          <div class="description">
            <%= item2.description %>
          </div>  
          <div class="price">
             <%= number_to_currency(item2.price, :unit => "€") %>
          </div>
          <div class="links">
             <a href="/cart/<%= item2.id %>">Add to Cart</a>
            
            <% if user_signed_in? %>
              <%= link_to 'Edit', edit_item_path(item2) %>
              <%= link_to 'Destroy', item2, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%else%>
            
             
            <%end%>  
        </div>
        </td>
 
  <!--Table 3-->
        
                <td>
          <div class="image">
            <%= link_to (image_tag item3.image_url, :style => "height:100px"), item3 %>
          </div>
          <div class="title">
            <%= link_to item3.title, item3 %>
          </div>
          <div class="description">
            <%= item3.description %>
          </div>  
          <div class="price">
             <%= number_to_currency(item3.price, :unit => "€") %>
          </div>
          <div class="links">
             <a href="/cart/<%= item3.id %>">Add to Cart</a>
            
            <% if user_signed_in? %>
              <%= link_to 'Edit', edit_item_path(item3) %>
              <%= link_to 'Destroy', item3, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%else%>
            
             
            <%end%>  
        </div>
        </td>
        
        
        
        
      </tr>
    <% end %>




<!-- 1 in a row--> 
<% else %>

  <% @items.each do |item| %>
      <tr>
        <td>
          <div class="image">
            <%= link_to (image_tag item.image_url, :style => "height:100px"), item %>
          </div>
          <div class="title">
            <%= link_to item.title, item %>
          </div>
          <div class="description">
            <%= item.description %>
          </div>  
          <div class="price">
             <%= number_to_currency(item.price, :unit => "€") %>
          </div>
          <div class="links">
            <% if session[:login] ==1 %>
              <%= link_to 'Edit', edit_item_path(item) %>
              <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%else%>
            
              <a href="/cart/<%= item.id %>">Add to Cart</a>
            <%end%>  
        </div>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

<br>
<% if session[:login]==1%>
<p><%= link_to 'New Item', new_item_path %></p>
<%end%>

<%= will_paginate @items %>