 <%= render 'layouts/header' %>

 <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-plain">
                            <div class="header">
                                <h4 class="title">Add A New Filter</h4>
                                <p class="category">Teachers Only</p>
                                </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover">
                                  
                              <tbody>     
                                    <%= form_for(@pfilter) do |f| %>
  <% if @pfilter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pfilter.errors.count, "error") %> prohibited this pfilter from being saved:</h2>

      <ul>
      <% @pfilter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<tbody>

    <div class="field">
     <tr>
<th> <div class="field"><%= f.label :pfilter %><br><p><%= f.text_field :pfilter %><br> </div><%= f.label :email %><br><p><%= f.text_field :email %><br> <div class="actions"> <%= f.submit %></div> </p></th>
</tr> 
  </div>   
 

<% end %>
     <div class="field">
     <tr>
<th> <p><%= link_to 'Back', pfilters_path %></p></p></th>
</tr> 
  </div> 

</tbody> 
                                </table>

                            </div>
                        </div>
                    </div>
                    
                                 </div>
                        </div>
                    </div>
 <%= render 'layouts/footer' %>
